<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <header>
      <div class="header">
        <a href="/" class="title"><h2>UserStore</h2></a>
        <a href="/users" class="btn-store">back</a>
      </div>
    </header>
    <section class="user">
        <h1><%= user.name %></h1>
        <p><%= user.email %></p>
        <h3>Age: <%= user.age %></h3>
    </section>
    </div>
  </body>
</html>