<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <header>
      <div class="header">
        <a href="/" class="title"><h2>User-Diary</h2></a>
        <a href="/users" class="btn-store">back</a>
      </div>
    </header>
    <div class="form">
      <h2>Add Book</h2>
      <form action="/users" method="POST">
        <input type="text" name="name" placeholder="Add Name" />
        <input type="text" name="email" placeholder="Add Email" />
        <input type="number" name="age" placeholder="Add Age" />
        <textarea type="text" rows="4" name="bio" placeholder="Add Bio">
        </textarea>
        <input type="submit" class="btn-sub" value="Add User" />
      </form>
    </div>
  </body>
</html>
